In [1]:
import sqlite3
sqlite3.connect('employ.db')

In [2]:
import pandas as pd
conn = sqlite3.connect('employ.db') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS employer
          ([PF_number] INTEGER PRIMARY KEY, [Name] TEXT, [section] TEXT, [shift] TEXT)
          ''')
          
#c.execute('''
#          INSERT INTO employer (PF_number, Name, section, shift)
#
#                VALUES
#                (6,'HARSHIT','300kmh5','today4')
#          ''')

c.execute('''
          DELETE FROM employer
          WHERE PF_number = 6
          ''')

c.execute('''
          SELECT *
          FROM employer
          ''')

df = pd.DataFrame(c.fetchall(), columns=['PF_number', 'Name', 'section', 'shift'])
                     
conn.commit()